<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <br>
        <h2>We will actually use this form below on the "lend a tool" page</h2>
        <h2>this will be our Home Page with 2 buttons "need a tool" and "lend a tool"</h2>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="tool-input">Tool</label>
            <input type="text" id="tool-input" class="form-control" aria-describedby="tool-input" placeholder="Enter Example Tool">
          </div>

          <div class="form-group">    <!--change to a drop down selection of the category column-->
            <label for="tool-category">Category</label>
            <input type="text" id="tool-category" class="form-control" aria-describedby="tool-category" placeholder="Enter Example Category">
          </div>
          
          <div class="form-group">
            <label for="tool-description">Description</label>
            <textarea class="form-control" id="tool-description" aria-describedby="tool-description" placeholder="Enter Example Description"></textarea>
          </div>

          <div class="form-group">
            <label for="tool-price">Price</label>
            <textarea class="form-control" id="tool-price" aria-describedby="tool-price" placeholder="Enter Example Price"></textarea>
          </div>

          <div class="form-group">
            <label for="tool-quantity">Quantity</label>
            <textarea class="form-control" id="tool-quantity" aria-describedby="tool-quantity" placeholder="Enter Example Quantity"></textarea>
          </div>

          <div class="form-group">
            <label for="tool-owner">Owner</label>
            <textarea class="form-control" id="tool-owner" aria-describedby="tool-owner" placeholder="Enter Example Owner"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h3>Tools:</h3>
        <ul id="tools-list" class="list-group">
          {{#each allTools}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="tools/{{this.id}}">{{this.tool}}</a> <!--links to the route-->
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
