<section class="welcome">
<img src="/images/T4Twelcome.png" class="welcome" alt="welcome to T4T">
</section>

<header id="masthead">
<div class="container">
  <nav>
    <img src="/images/logo.png" class="logoheader" alt="logoheader">
    <a class="active" href="/" class="home">HOME</a>
    <a href="tools" class="rent">RENT</a>
    <a href="lender" class="lend">LEND</a>
    <a href="/#aboutUs" class="about">ABOUT US</a>
    <a href="/#callDave" class="callDave">NEED ADVICE? - CALL DAVE</a>
  </nav>
</div>
</header>

<section>
<img src="/images/engineer.png" class="engineer" alt="engineer">
</section>

<section id="aboutUs" class="aboutText">
<h2>About Us</h2>
<p>T4T (Tools for Tools) is a cross between industrial tool rental company United Rentals and
  CraigsList. Our goal is to help consumers in need of tools that they don't want or don't need to buy. Either they
  don't have the money right now to buy it or it's a one-off project.</p>
<p>If you are in need of a tool, click on the "RENT" link to find one of the options that we offer.</p>
<p>If you have a tool that you are willing to lend out, click on the "LEND" link and we will be in touch with you
  after you provide some pertinent information.</p>
<p>Additionally, if you Need Advice for your project or even just navigating our site, click on the "CALL DAVE"
  link. You will be able to contact us to get the help you need.</p>
</section>

<section>
<img src="/images/callDave.png" id="callDave" class="callDaveImage" alt="call Dave">
</section>

<footer>
<div class="push">
  &copy; <img src="/images/logo.png" class="logo" alt="logo"> 2018. All Rights Reserved.
</div>
</footer>


