<!--LIST OF TOOLS DISPLAYED-->
<!--EACH TOOL WILL LINK TO tool.handlebars WHICH IS A CARD OF IT'S INFORMATION-->

<header id="masthead">
<div class="container">
  <nav>
    <img src="/images/logo.png" class="logoheader" alt="logoheader">
    <a href="/" class="home">HOME</a>
    <a class="active" href="tools" class="rent">RENT</a>
    <a href="lender" class="lend">LEND</a>
    <a href="/#aboutUs" class="about">ABOUT US</a>
    <a href="/#callDave" class="callDave">NEED ADVICE? - CALL DAVE</a>
  </nav>
</div>
</header>

<div class="container">
<div class="row">
      <h3 class="tools-header">Tools:</h3>
      <ul id="tools-list" class="list-group">
        {{#each allTools}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="tool/{{this.id}}">{{this.tool}}</a> <!--links to the route-->
          <!--<button class="btn btn-danger float-right delete">ｘ</button>-->
        </li>
        {{/each}}
      </ul>
</div>
</div>