<!--PAGE THAT HAS LIST OF CATEGORIES OF TOOLS TO CHOOSE FROM-->
<!--CLICKING ON ONE CATEGORY LINKS TO items.handlebars-->

<div class="container">
  <h1>Categories of Tools</h1>
  <div class="row">
    <div class="col-8 offset-2">
      <a href="link to items.handlebars">Equipment Rentals</a>
    </div>
  </div>

    <div class="row">
    <div class="col-8 offset-2">
      <a href="link to items.handlebars">Mower Rentals</a>
    </div>
  </div>

    <div class="row">
    <div class="col-8 offset-2">
      <a href="link to items.handlebars">Party Rentals</a>
    </div>
  </div>
</div>