* {
  box-sizing: border-box;
  margin: 0;
 }
 
 body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
 }
 
 .list-group-item {
  line-height: 2.5;
 }
 
 /* general styling */
 
 .container {
  max-width: 960px;
  clear: both;
 }
 
 h2 {
  color: red;
  font-size: 54px;
  font-family: Phosphate, Phosphor, 'Times New Roman', Times, serif;
 }
 
 h3 {
  color: red;
  font-size: 54px;
  font-family: Phosphate, Phosphor, 'Times New Roman', Times, serif;
 }
 
 /* index page */
 
 .welcome {
  height: 100%;
  width: 100%;
 }
 
 .engineer {
  float: left;
  height: 55%;
  width: 55%;
 }
 
 .aboutText {
  float: left;
  padding-top: 80px;
  padding-left: 30px;
  width: 40%;
  font-size: 20px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: bold;
 }
 
 .callDaveImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
 
 /* items page */
 
 .tools-header {
  margin-left: 17%;
 }
 
 .list-group-item {
   margin-top: 80px;
   margin-left: -105%;
   margin-right: -150%;
 }
 
 /* header */
 
 header {
  position: sticky;
  top: 0;
  z-index: 1000000;
  background: white;
  color: black;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
 }
 
 #masthead {
  width: 100%;
  overflow: auto;
  font-family: Phosphate, Phosphor, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-decoration: none;
 }
 
 .logoheader {
  margin-top: 7px;
  margin-bottom: 7px;
  height: 10%;
  width: 10%;
 }
 
 nav {
  float: right;
  color: black;
 }
 
 nav a {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 18px;
  color: black;
 }
 
 .active {
  background: black;
  color: white;
  text-decoration: none;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 
 /* hover styling */
 
 nav a:hover {
  background: black;
  color: white;
  text-decoration: none;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 
 .active:hover {
  color: white;
  text-decoration: none;
 }
 
 /* footer */
 
 footer {
  clear: both;
  font-size: 12px;
  color: black;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  background: white;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  left: 0;
  bottom: 0;
  width: 100%;
 }
 
 .logo {
  height: 4%;
  width: 4%;
 }
 
 @media only screen and (max-width: 500px) {
  .nav {
    font-size: 16px;
  }
 
  .welcome {
    height: 700px;
    width:
  }
 }